.cookery {
    height: 82px;

    font-family: Merriweather;
    font-style: normal;
    font-weight: bold;
    font-size: 65px;
    line-height: 82px;
    color: #000000;
    align-items: center;
    text-align: center;

}

.title1 {
    height: 46px;
    top: 322px;

    font-family: Benguiat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;

    color: #000000;
}

.type_food {

    font-family: Benguiat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 38px;
    text-align: center;

    color: #000000;
}

.img1 {
    height: 200px;
    width: 200px;
    margin: auto auto;
    display: block;
}

.img2 {
    height: 200px;
    width: 200px;
    margin: auto auto;
    display: block;
}